<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}

<html style="height: 100%" lang="en">
<head style="flex-shrink: 1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
        
    {% endblock %}
    <title>
        {% block title %}
            NemaStocks
        {% endblock %}
    </title>
</head>
<body style="display: flex; flex-direction: column; height: 100%">
<nav class="navbar navbar-dark bg-dark" style="flex-shrink: 1;">
    <div class="container-fluid">
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar"
                    aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated %}
                <a class="navbar-brand" href="/user_page" style="margin-left: 15px">
                    {% bs_icon 'person-circle' %} {{ request.user.userprofile.initials }}
                </a>
            {% else %}
                <a class="navbar-brand" href="/login" style="margin-left: 15px">
                    {% bs_icon 'person-circle' %} Guest (click to log in)
                </a>
            {% endif %}
        </div>
        <a class="navbar-brand" href="/">Arribere Nemastocks</a>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav me-auto mb-6 mb-lg-0">
            {% if request.path != '/strain_list_datatable' %}
                <li class="nav-item">
                    <form class="col-md-8" method="get" action="{% url 'strain_list_datatable' %}">
                        <div class="input-group mt-3">
                            <input class="form-control" type="text" name="q" placeholder="Strain Search..." value="{{ request.GET.q }}"
                            title="Search within WJA, Phenotype, Genotype, and Description for strains"
                            id="searchBoxInput">
                            <label class="form-check-label" for="searchBoxInput"></label>
                            <button class="btn btn-primary" type="submit"
                                    title="Search within WJA, Phenotype, Genotype, and Description for strains">Search</button>
                            <a href="{% url 'strain_list_datatable' %}" class="btn btn-secondary" title="View all strains">View All</a>
                        </div>
                    </form>
                </li>
            {% endif %}
                <li class="nav-item {% block home_active %}{% endblock %}">
                    <a class="nav-link" href="/">
                        {% bs_icon 'house-door' %} Home
                    </a>
                </li>
                <li class="nav-item {% block strains_active %}{% endblock %}">
                    <a class="nav-link" href="/strain_list_datatable">
                        {% bs_icon 'list-ol' %} Strains</a>
                </li>
                <li class="nav-item {% block strain_assignments_active %}{% endblock %}">
                    <a class="nav-link" href="/strain_assignments">
                        {% bs_icon 'person-lines-fill' %} Strain Assignments
                    </a>
                </li>
                <li class="nav-item {% block about_active %}{% endblock %}">
                    <a class="nav-link" href="/about">
                        {% bs_icon 'info-circle' %} About
                    </a>
                </li>
                <li class="nav-item {% block new_strain_active %}{% endblock %}">
                    <a class="nav-link" href="/new_strain">
                        {% bs_icon 'plus-circle' %} New Strain
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bulk_upload_strains/">
                        {% bs_icon 'table' %} New Strains (Bulk)
                    </a>
                </li>
                <li class="nav-item {% block outstanding_freeze_requests %}{% endblock %}">
                    <div class="d-flex">
                        <a class="nav-link" href="/outstanding_freeze_requests/">
                            {% bs_icon 'building-add' %} Pending Freezes 
                        </a>
                        {% if user.is_staff %}
                            <a class="nav-link" href="/ongoing_freezes/" style="margin-left: 15px;">
                                <i>Ongoing Freezes</i>
                            </a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item {% block outstanding_thaw_requests %}{% endblock %}">
                    <div class="d-flex">
                        <a class="nav-link" href="/outstanding_thaw_requests/">
                            {% bs_icon 'building-dash' %} Pending Thaws 
                        </a>
                        {% if user.is_staff %}
                            <a class="nav-link" href="/ongoing_thaws/" style="margin-left: 15px;">
                                <i>Ongoing Thaws</i>
                            </a>
                        {% endif %}
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/user_page">
                            {% bs_icon 'person' %} User Page
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            {% bs_icon 'person-exclamation' %} Login Page
                        </a>
                    </li>
                {% endif %}
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">
                            {% bs_icon 'toggles' %} <i>Admin Site Link</i>
                            </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<content class="container" style="flex: 1 0 auto">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-1" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div style="margin-top: 40px; margin-bottom: 40px">
    {% block content %}{% endblock %}
    </div>
</content>
<footer class="footer navbar-dark bg-dark" style="flex-shrink: 0">
    <div class="container-fluid" style="margin-top: 15px">
        <p class="text-muted my-0">Arribere Lab</p>
        <p class="text-muted my-0">University of California, Santa Cruz</p>
        <p class="text-muted my-0">1156 High Street</p>
        <p class="text-muted my-0">Santa Cruz, CA 95064</p>
    
        {% if request.user.is_staff %}
            <p class="text-muted my-1"><a href="/admin">Admin Site Link</a></p>
        {% endif %}
        {% block footer %}
        {% endblock %}
    </div>
</footer>
</body>
</html>
