<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}

<html style="height: 100%" lang="en">
<head style="flex-shrink: 1">
    <title>
        {% block title %}
            NemaStocks
        {% endblock %}
    </title>
</head>
<body style="display: flex; flex-direction: column; height: 100%">
<nav class="navbar navbar-dark bg-dark" style="flex-shrink: 1;">
    <div class="container-fluid">
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar"
                    aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated %}
                <a class="navbar-brand" href="/user_page" style="margin-left: 15px">
                    {% bs_icon 'person-circle' %} {{ request.user.userprofile.initials }}
                </a>
            {% else %}
                <a class="navbar-brand" href="/login" style="margin-left: 15px">
                    {% bs_icon 'person-circle' %} Guest
                </a>
            {% endif %}
        </div>
        <a class="navbar-brand" href="#">Arribere Nemastocks</a>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item {% block home_active %}{% endblock %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% block strains_active %}{% endblock %}">
                    <a class="nav-link" href="/strain_list_datatable">Strains</a>
                </li>
                <li class="nav-item {% block strain_search_active %}{% endblock %}">
                    <a class="nav-link" href="/strain_search">Strain Search</a>
                </li>
                <li class="nav-item {% block about_active %}{% endblock %}">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item {% block new_strain_active %}{% endblock %}">
                    <a class="nav-link" href="/strain/new">New Strain</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/user_page">User Page</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login Page</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<content class="container" style="flex: 1 0 auto">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div style="margin-top: 40px; margin-bottom: 40px">
    {% block content %}{% endblock %}
    </div>
</content>
<footer class="footer navbar-dark bg-dark" style="flex-shrink: 0">
    <div class="container-fluid" style="margin-top: 15px">
        <p class="text-muted">Arribere Lab</p>
        <p class="text-muted">University of California, Santa Cruz</p>
        <p class="text-muted"><a href="/admin">(Admin Site)</a></p>
        {% block footer %}
        {% endblock %}
    </div>
</footer>
</body>
</html>
