<!-- password_change_form.html -->

{% extends "pieces/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
    Reset Password - NemaStocks
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Reset Password</button>
        <a href="{% url 'user_page' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}