{% extends "pieces/base.html" %}

{% block title %}About - NemaStocks{% endblock %}

{% block about_active %}class='active'{% endblock %}

{% block content %}
    <div class="container">
        <h1>About</h1>
        <p>
            This is an initial attempt at rebuilding the Nemastocks database!
            I am using <s>Flask, Flask-SQLAlchemy, and Flask-Bootstrap</s> DJANGO. It has
            been a fun project so far, and I hope to continue to improve it
            over time.

            <br><br>
            I feel a little guilty about jumping the gun on this while I have a
            bunch of other crap that I should be doing... but I'm having fun and it is very insightful!
            Hopefully this will make for a nice jumping off point for when Parissa,
            Josh, Chloe, and I get around to rebuilding the site.

            <br><br>
            I've had a lot of success with bringing over most of the functionality of the old site.
            My biggest current hangup is getting the deeper pages to work with handling the freezes
            and thaws after they have been submitted and received but before they have been complete.
            In the sort of <i>liminal space</i> between...
            This is going to take a bit of refinement, but also working with Chloe (the actual strain czar)
            will make this more useful!!
        </p>
    </div>
{% endblock %}