{% extends "pieces/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}

{% block home_active %}class='active'{% endblock %}

{% block title %}Home - NemaStocks{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Welcome to NemaStocks</h1>
                <p class="text-center">Follow the NavBar links above (or below) to relevant pages!</p>
            </div>
        </div>
    </div>

    <!-- Start of the row containing both sections -->
    <div class="container mt-4">
        <div class="row">
            <!-- Strain Search Section -->
            <div class="col-sm-12 col-md-6 border-end border-bottom">
                <h2>Strain Search</h2>
                <p>
                    Use this to search for strains.
                </p>
                <form class="d-flex" method="get" action="{% url 'strain_list_datatable' %}">
                    <div class="input-group mt-3">
                        <input class="form-control" type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}"
                        title="Search for strains"
                        id="searchBoxInput">
                        <label class="form-check-label" for="searchBoxInput"></label>
                        <button class="btn btn-primary" type="submit" name="search_type" value="search"
                                title="Search within WJA, Phenotype, and Genotype for strains">Search</button>
                        <button class="btn btn-secondary" type="submit" name="search_type" value="deep_search"
                                title="Perform a deep search of all strain fields (slower)">Deep Search</button>
                        <a href="{% url 'strain_list_datatable' %}" class="btn btn-secondary" title="View all strains">View All</a>
                    </div>
                </form>
                <small>
                    In the future we can add functionality to search within specific fields if we'd like... Ask Marcus
                </small>
            </div>

            <!-- Navigation Section -->
            <div class="col-sm-12 col-md-6 border-start border-bottom">
                <h2>Navigation</h2>
                <ul class="list-unstyled">
                    <li class="mt-1">
                        <a class="nav-link" href="/strain_assignments">
                            {% bs_icon 'person-lines-fill' %} Strain Assignments
                        </a>
                    </li>
                    <li class="mt-1">
                        <a class="nav-link" href="/new_strain">
                            {% bs_icon 'plus-circle' %} New Strain
                        </a>
                    </li>
                    <li class="mt-1">
                        <a class="nav-link" href="/bulk_upload_strains/">
                            {% bs_icon 'table' %} New Strains (Bulk)
                        </a>
                    </li>
                    <li class="mt-1">
                        <div class="d-flex">
                            <a class="nav-link" href="/outstanding_freeze_requests/">
                                {% bs_icon 'building-add' %} Pending Freezes 
                            </a>
                            {% if user.is_staff %}
                                <a class="nav-link" href="/ongoing_freezes/" style="margin-left: 15px;">
                                    <i>Ongoing Freezes</i>
                                </a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="mt-1">
                        <div class="d-flex">
                            <a class="nav-link" href="/outstanding_thaw_requests/">
                                {% bs_icon 'building-dash' %} Pending Thaws 
                            </a>
                            {% if user.is_staff %}
                                <a class="nav-link" href="/ongoing_thaws/" style="margin-left: 15px;">
                                    <i>Ongoing Thaws</i>
                                </a>
                            {% endif %}
                        </div>
                    </li>
                    {% if user.is_staff %}
                        <li class="mt-1">
                            <a class="nav-link" href="/scary_stuff/">
                                {% bs_icon 'explicit-fill' %} Scary Stuff (this is a slow page) 
                            </a>
                        </li>
                        <li class="mt-1">
                            <a class="nav-link" href="/admin">
                                {% bs_icon 'tools' %} <i>Admin Site Link</i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Current Permissions</h2>
                <p><strong>User Registration</strong> is {{ registration }}</p>
                <p><strong>Strain Editing</strong> is {{ edit_permissions }}</p>
            </div>
        </div>
    </div>
{% endblock %}
