{% extends "pieces/base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    Ongoing Freezes
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <form method="post" action="{% url 'ongoing_freezes' %}">
        {% csrf_token %}
        <div class="d-flex justify-content-between align-items-center">
            <h1>Ongoing Freezes ({{ ongoing_freezes.count }})</h1>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="d-flex align-content-around flex-wrap" id="grid">
        {{ formset.management_form }}
        {% for form in formset %}
            {% with freeze_request=form.instance %}
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-2 flex-fill">
                    <div class="card m-2">
                        <div class="row g-0">
                            <div class="card-header">
                                <b>Selected Freeze Request {{ forloop.counter }}:</b> {{ freeze_request.strain.formatted_wja }}
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="row mt-2">
                                        <dt class="col-sm-6">Requester:</dt>
                                        <dd class="col-sm-6">{{ freeze_request.requester }}</dd>
                                    </div>
                                    <div class="row mt-2">
                                        <dt class="col-sm-6">Number of Tubes:</dt>
                                        <dd class="col-sm-6">{{ freeze_request.number_of_tubes }}</dd>
                                    </div>
                                    <div class="row mt-2">
                                        <dt class="col-sm-6">Cap Color:</dt>
                                        <dd class="col-sm-6">{{ freeze_request.cap_color|title }}</dd>
                                    </div>
                                    <div class="col mt-2">
                                        <dt class="col-sm-12 align-self-center">Request Comments:</dt>
                                        <dd class="col-sm-12 align-self-center">{{ freeze_request.request_comments|default:"<i>No comment.</i>" }}</dd>
                                    </div>
                                    <hr/>
                                    <div class="col-md-12">
                                        {% bootstrap_form form %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Submitted: {{ freeze_request.date_created }} ({{ freeze_request.date_created|timesince }} ago)
                    </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
        </div>
        </form>
    </div>
{% endblock %}