{% extends "pieces/base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    Ongoing Freezes
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'ongoing_freezes' %}">
    {% csrf_token %}
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h1>Ongoing Freezes ({{ ongoing_freezes.count }})</h1>
            <p class="small">Navigate away from this page to discard changes.</p>
            <p class="small">You can change the "ActiveBoxes" on the admin page or by freezing tubes into a new box.</p>
        </div>
        <button type="submit" class="btn btn-primary">Save All Changes</button>
    </div>

    {{ formset.management_form }}
    <!-- Table structure for freeze requests -->
    <div class="table-container table-responsive">
        <table class="table table-bordered table-sm mt-4" style="width: 100%">
            <thead>
                <tr class="table-dark table-bordered">
                    <th>#</th>
                    <th>Box 1</th>
                    <th>Box 2</th>
                    <th>Freeze Requester</th>
                    <th>Freeze Tester</th>
                    <th>Update Status</th>
                </tr>
            </thead>
            <tbody>
            {% for form in formset %}
                {% with freeze_request=form.instance %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}table-secondary table-bordered{% else %}{% endif %}">
                        <td rowspan="2">
                            {{ freeze_request.id }}
                            {{ form.id }}
                            {{ freeze_request.strain.formatted_wja }}
                        </td>
                        <td>
                            {% bootstrap_field form.box1 layout='floating' show_help=False %}
                            {% bootstrap_field form.tubes_for_box1 layout='floating' show_help=False %}
                        </td>
                        <td>
                            {% bootstrap_field form.box2 layout='floating' show_help=False %}
                            {% bootstrap_field form.tubes_for_box2 layout='floating' show_help=False %}
                        </td>
                        <td>
                            {% bootstrap_field form.freezer layout='floating' show_help=False %}
                            <p><b>Comments:</b><br>{{ freeze_request.request_comments }}</p>
                        </td>
                        <td>
                            {% bootstrap_field form.tester layout='floating' show_help=False %}
                            {% bootstrap_field form.tester_comments layout='floating' show_help=False %}
                        </td>
                        <td>
                            {% bootstrap_field form.status layout='floating' show_help=False %}
                            {% bootstrap_field form.date_stored layout='floating' show_help=False %}
                        </td>
                    </tr>
                    <tr class="{% if forloop.counter|divisibleby:2 %}table-secondary table-bordered{% else %}{% endif %}">
                        <td colspan="6">
                            <b>Submitted:</b> {{ freeze_request.date_created }} ({{ freeze_request.date_created|timesince }} ago) with {{ freeze_request.number_of_tubes }} tubes provided.
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    </form>
{% endblock %}