<!-- login.html -->

{% extends "pieces/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
    Login - NemaStocks
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'password_reset' %}" class="btn btn-secondary">Reset Password</a>
        <a href="{% url 'register' %}" class="btn btn-secondary">Register</a>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
