<!-- user.html -->

{% extends "pieces/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
    User Page - NemaStocks
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="p-2 flex-grow-1">User {{ request.user|title }}/{{ user_profile }}</h1>
        <div class="flex-d">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="logout" value="True">
                <button type="submit" name="logout" class="btn btn-primary">Logout</button>
                <a href="{% url 'edit_user_profile' %}" class="btn btn-secondary">Edit User</a>
                <a href="{% url 'password_change' %}" class="btn btn-secondary">Change Password</a>
            </form>
        </div>
        
    </div>
    <hr>
    <div>
        <p><b>Email:</b> {{ request.user.email|default:"<i>Not provided</i>" }}</p>
        <p><b>Current Role:</b> {{ user_profile.get_role_display }}</p>
        <p><b>Is Active Lab Member:</b> {{ user_profile.active_status }}</p>
        <p><b>Is Active User:</b> {{ request.user.is_active }}</p>
        <p><b>Is Superuser/Admin:</b> {{ request.user.is_superuser }}</p>
        <p><b>User Groups:</b></p>
        <ul>
        {% if not user_groups %}
            <li><i>No groups</i></li>
        {% endif %}
            {% for group in user_groups %}
                <li>{{ group }}</li>
            {% endfor %}
        </ul>
        <p><b>Current Permissions:</b></p>
        <ul>
        {% if not user_permissions %}
            <li><i>No permissions</i></li>
        {% endif %}
            {% for permission in user_permissions %}
                <li>{{ permission }}</li>
            {% endfor %}
        </ul>
        <p><b>Current Strain Assignments:</b></p>
        <ul>
        {% if not user_profile.strain_ranges.all %}
            <li><i>No strains. Reach out to admin to get strain assignment numbers.</i></li>
        {% endif %}
            {% for strain_range in user_profile.strain_ranges.all %}
                <li>
                    {{ strain_range.strain_numbers_start }} - 
                    {{ strain_range.strain_numbers_end }}
                    ({{ strain_range.get_usage_string }})
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
