{% extends "base.html" %}

{#{% block home_active %}class='active'{% endblock %}#}

{% block title %}Freezes In Testing - NemaStocks{% endblock %}

{% block content %}
    <div class="container mt-4">
        <table class="table">
            <thead>
            <tr>
                <th>WJA</th>
                <th>Requester</th>
                <th>Number of Tubes</th>
                <th>Date Requested</th>
                <th>Passed Test</th>
            </tr>
            </thead>
            <tbody>
            {% for freeze in freeze_groups %}
                <tr>
                    <td><a href="{{ url_for('strain_details', wja=freeze.strain.wja) }}">WJA{{ freeze.strain.wja }}</a></td>
                    <td>{{ freeze.freezer_initials }}</td>
                    <td>{{ len(freeze.tubes) }}</td>
                    <td>{{ freeze.date_created.strftime('%d/%m/%Y') }}</td>
                    <td><input type="checkbox" name={{ freeze.id }} value="0" {{ "checked" if freeze.passed_test }}>{{ freeze.passed_test }}<</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
