{% extends "base.html" %}

{% block title %}Special Links - NemaStocks{% endblock %}

{% block content %}
    <div class="container">
        <h1>About</h1>
        <p><a href="/create_dummy_data/1000">Create 1000 Dummy Strains</a></p>
        <p><a href="/create_dummy_data/100">Create 100 Dummy Strains</a></p>
        <p><a href="/outstanding_freezes">See outstanding freezes</a></p>
        <p><a href="/freezes_in_testing">See freeze "waiting room" (currently being tested)</a></p>
    </div>
{% endblock %}