<!-- strain_details.html -->

{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}

{% block title %}{{ strain.formatted_WJA }} - NemaStocks{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Strain {{ strain.formatted_WJA }}</h1>
            <div>
                <a href="{% url 'freeze_request_form' %}?formatted_wja={{ strain.formatted_wja }}&number_of_tubes=4" class="btn btn-primary">Request Freeze</a>
                <a href="{% url 'thaw_request_form' %}?formatted_wja={{ strain.formatted_wja }}" class="btn btn-primary">Request Thaw</a>
            </div>
        </div>
        <p>{{ strain.description }}</p>
        <p>{{ strain.repr }}</p>
        <h2>Stored Tube Sets:</h2>
        {% render_table table %}
    </div>
{% endblock %}

{% block footer %}
    <a href="{% url 'edit_strain' wja=strain.wja %}">edit strain {{ strain.formatted_WJA }}</a>
{% endblock %}
