{% extends 'pieces/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Edit - WJA{{ strain.wja }} - NemaStocks{% endblock %}

{% block content %}
    <h1>Edit Strain <strong>{{ strain.formatted_wja }}</strong></h1>
    <form method="POST" action="{% url 'edit_strain' wja=strain.wja %}">
        {% csrf_token %}
        {% bootstrap_form form layout='floating' %}
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'strain_details' wja=strain.wja %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
