<!-- strain_details.html -->

{% extends "pieces/base.html" %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}

{% block title %}{{ strain.formatted_WJA }} - NemaStocks{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Strain {{ strain.formatted_WJA }}</h1>
            <div>
                <a href="{% url 'freeze_request_form' %}?formatted_wja={{ strain.formatted_wja }}&number_of_tubes=5" class="btn btn-primary">Request Freeze</a>
                <a href="{% url 'thaw_request_form' %}?formatted_wja={{ strain.formatted_wja }}" class="btn btn-primary">Request Thaw</a>
                <a href="{% url 'edit_strain' wja=strain.wja %}" class="btn btn-secondary">Edit {{ strain.formatted_WJA }}</a>
            </div>
        </div>
        <div>
            <p><strong>Genotype: </strong>{{ strain.genotype }}</p>
            <p><strong>Phenotype: </strong>{{ strain.phenotype }}</p>
            <p><strong>Source: </strong>{{ strain.source }}</p>
            <p><strong>Owner</strong> (based on strain ranges): {{ strain.get_owner_from_ranges }}</p>
            <p><strong>Date Created: </strong>{{ strain.date_created }}</p>
            <p><strong>Description: </strong>{{ strain.description }}</p>
            <p><strong>Additional Comments: </strong>{{ strain.additional_comments }}</p>
        </div>
        <hr/>
        <div>
            <h2>Stored Tube Sets:</h2>
            {% if tubes_table_count %}
                {% render_table tubes_table %}
            {% else %}
                <p>There are no tubes stored for this strain. This is concerning!!</p>
            {% endif %}
        </div>
        {% if thaws_table_count %}
            <hr/>
            <div>
                <h2>Recent Thaws:</h2>
                <p>These are the {{ thaws_table_count }} most recent thaw requests!</p>
                {% render_table thaws_table %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    <a href="{% url 'edit_strain' wja=strain.wja %}">edit strain {{ strain.formatted_WJA }}</a>
{% endblock %}
